<div class="container">
    <h2>FORMULARIO</h2>
    <form>
      <label>A QUE SE LE MEDIRÁ LA HUELLA DE AGUA</label>
      <input>
  
      <label>AÑO DE MEDICION</label>
      <input>
  
      <label>UNIDAD FUNCIONAL (UF)</label>
      <input>
        
      <label>NOMBRE DE LA EMPRESA</label>
      <input>

      <label>INSTALACION QUE SE MEDIRA</label>
      <input>

      <label>UBICACION DE LA INSTALACION: REGION</label>
      <input>

      <label>UBICACION DE LA INSTALACION: COMUNA</label>
      <input>

      <label>TIPOS DE PRODUCTOS QUE SE FABRICAN EN LA INSTALACION</label>
      <input>

      <label>NOMBRE Y APELLIDO</label>
      <input>

      <label>CARGO</label>
      <input>

      <label>CORREO</label>
      <input>

      <button type="submit">Siguiente</button>
    </form>
</div>
